<?xml version="1.0"?>
<launch>

    <!-- run motor -->
    <include file="$(find xycar_motor)/launch/xycar_motor.launch"/>
    <!-- run lidar -->
    <include file="$(find xycar_lidar)/launch/lidar_noviewer.launch"/>
    <include file="$(find xycar_ultrasonic)/launch/xycar_ultrasonic_noviewer.launch"/>
    <node name="lidar" pkg="test_hw" type="lidar.py" output="screen"/>
    <node name="gostop_lidar" pkg="test_hw" type="gostop_lidar.py" output="screen"/>

</launch>
